<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="NrjxsgpjcgoDEzcQHkuZB61swRUyDD-Letaj3GpOTXw"/>

    [META]
    <script type="text/javascript" src="assets/templates/common-html5/js/modernizr.min.js"></script>
    <script type="text/javascript" src="assets/templates/common-html5/js/utilities.js"></script>

	<title>Selfe | Self Evolution | Evolve Yourself</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/templates/justswell-html5/css/custom.css">
	<link rel="stylesheet" href="assets/templates/common-html5/css/layout.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>		
</head>
<body>
<div class="container-full"><!-- END CONTAINER FUll WIDTH -->	
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="row">
                <div class="col-xs-6 col-sm-8">
                    <a class="navbar-brand" href="/"><img src="http://www.selfe.com/assets/Selfe-Logo.png"></a>
                </div>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Buy<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Join Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="myaccount.asp">Login</a></li>
            <li><a href="view_cart.asp">Cart (<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>[ITEMSINCART])</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- END NAVIGATION -->

<!-- start frame content -->

<div id="selfEContent">
MIDDLE
</div>

<!-- end frame content -->
    
    <div id="selfe-footer" class="footer">
        <div class="container-fluid centerContainer">
            <div class="row">
                <div class="col-sm-12 footerText">SELFE &reg; EVOLVE YOURSELF &trade; 2015</div>
            </div>
        </div>	
    </div>

</div><!-- END CONTAINER FUll WIDTH -->
<script type="text/javascript" src="assets/templates/[template]/js/functions.js"></script>
<script>
if (typeof needPadding === 'undefined'){
	$('body').css({ paddingTop: '70px' });
	$('body').css({ paddingBottom: '70px' });
	$( '#selfEContent' ).addClass("container").removeClass("container-fluid");
	$( '#selfe-footer' ).addClass("navbar-fixed-bottom");
} else {
	$('body').css({ paddingTop: needPadding + 'px' });
	$('body').css({ paddingBottom: '0px' });
	$('#selfEContent').css({ padding: needPadding + 'px' });
	$( '#selfEContent' ).addClass("container-fluid").removeClass("container");
	$( '#selfe-footer' ).removeClass("navbar-fixed-top");
	navbar-fixed-top
}
</script>


</body>
</html>
